<section layout="column">
  <md-content layout="column" class="md-padding">
    <md-input-container>
      <label>City</label>
      <input ng-model="city" placeholder="City">
    </md-input-container>
    <md-button class="md-raised" ng-click="getWeather()">Get Weather Info
    </md-button>
  </md-content>

  <md-content layout="column" ng-show="result">
    <md-toolbar layout="row">
      <h2 class="md-toolbar-tools">
        <span>{{result.location.city}}, {{result.location.country}}</span>
      </h2>
    </md-toolbar>

    <md-grid-list
        md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="12x" md-gutter-gt-sm="8px">

      <md-grid-tile class="green" md-rowspan="1" md-colspan="1">
        <md-grid-tile-content>
          <p>Temp: {{result.item.condition.temp}}</p>
          <br/>

          <p>{{result.item.condition.text}}</p>
        </md-grid-tile-content>
        <md-grid-tile-footer>
          <h2>Now</h2>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="yellow" md-rowspan="1" md-colspan="1"
                    ng-repeat="forecast in result.item.forecast">
        <md-grid-tile-content>
          <p>High: {{forecast.high}}</p>

          <p>Low: {{forecast.low}}</p>

          <p>{{forecast.text}}</p>
        </md-grid-tile-content>
        <md-grid-tile-footer>
          <h2>{{forecast.day}}</h2>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</section>