<section layout="column" layout-align="center center">
  <md-content class="md-padding">
    <md-input-container flex>
      <label>City</label>
      <input ng-model="city" placeholder="City">
    </md-input-container>
    <md-button ng-click="getWeather()">Get Weather Info</md-button>
  </md-content>

  <md-content ng-show="result">
    <md-toolbar layout="row">
      <h2 class="md-toolbar-tools">
        <span>{{result.location.city}}, {{result.location.country}}</span>
      </h2>
    </md-toolbar>

    <md-content layout="column">
      <md-card layout="row" flex>
        <md-card-content>
          <h2>Current</h2>

          <p>Temp: {{result.item.condition.temp}}</p>

          <p>{{result.item.condition.text}}</p>
        </md-card-content>
      </md-card>
      <md-card ng-repeat="forecast in result.item.forecast" flex>
        <md-card-content>
          <h2>{{forecast.day}}</h2>

          <p>High: {{forecast.high}}</p>

          <p>Low: {{forecast.low}}</p>

          <p>{{forecast.text}}</p>
        </md-card-content>
      </md-card>
    </md-content>
  </md-content>
</section>