body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-grid-tile.green {
  background: #b9f6ca;
}

md-grid-tile.yellow {
  background: #ffff8d;
}

md-grid-tile {
  transition: all 400ms ease-out 50ms;
}